body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: #000;
  background-color: #ffffff;
  width: 70%;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  font-weight: 800;
}

h1 {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 800;
  color: #000;
  line-height: 60px;
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

form {
  text-align: center;
}

form input[type="text"] {
  text-transform: uppercase;
  border: 1px solid black;
  font-size: 40px;
  width: 40%;
  margin:5px;
}

.button {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
}

.flash {
  text-align: center;
  color: white;
  padding: 5px;
}

.true{
  color: rgba(53,144,92,1);
}

.false{
  color: rgba(178,6,6, 0.8);
}

#_giphy_tv{
  width: 481px;
  height: 271px;
  padding-top: 5px;
  margin-right: auto;
  margin-left: auto;
}