
<h1>I can haz tcp check plz</h1>
<form action="/tcp" method="post">
  <input type="text" name="host" placeholder="Host"><input type="text" name="port" value="80" placeholder="Port"><br>
  <input type="submit" class="button" value="Check tcp"><br>
</form>

<h1>I can haz url check plz</h1>
<form action="/url" method="post">
  <input type="text" name="url" placeholder="url"><br>
  <input type="submit" class="button" value="Check url"><br>
</form>