<html>
<head>
  <title>URL Checker</title>
</head>

<body>
  <h1>Type in the host and the port:</h1>
  <form action="/" method="post">
    <input type="text" name="host" placeholder="Host"><br>
    <input type="text" name="port" placeholder="Port"><br>
    <input type="submit" class="button" value="Check link"><br>
  </form>
  <%= flash[:notice] %>
</body>
</html>