<html>
<head>
  <title>Host:Port Checker</title>
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
  <link rel="stylesheet" type="text/css" href="./css/application.css">
</head>

<body>
  <h1>I can haz tcp check plz</h1>
  <form action="/tcp" method="post">
    <input type="text" name="host" placeholder="Host"><input type="text" name="port" placeholder="Port"><br>
    <input type="submit" class="button" value="Check tcp"><br>
  </form>

  <h1>I can haz url check plz</h1>
  <form action="/url" method="post">
    <input type="text" name="url" placeholder="url"><br>
    <input type="submit" class="button" value="Check url"><br>
  </form>

  <% if flash[:true] %>
    <div class='flash true'>
      <%= flash[:true] %>
      <div id="_giphy_tv"></div>
      <script>
          var _giphy_tv_tag="happy";
          var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;
          g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/tv.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);
      </script>
    </div>
  <% end %>
  <% if flash[:false] %>
    <div class='flash false'>
      <%= flash[:false] %>
      <div id="_giphy_tv"></div>
      <script>
          var _giphy_tv_tag="sad";
          var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;
          g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/tv.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);
      </script>
    </div>
  <% end %>

</body>
</html>