<html>
<head>
  <title>Host:Port Checker</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/application.css">
</head>

<body>
  <header>Currently testing: <%= get_environment %></header>
  <%= yield %>
</body>
</html>